.barra-pesquisa{
    border-radius: 5px;
    border: 1px solid #a8b8c0;
    color: #3b4b56;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.icone{
    margin-right: 1vw;
}

.ferramentas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ferramentas-container button{
    width: 175px;
    height: 200px;
    margin: 2vh;
    border-radius: 5px;
    border: 1px solid #a8b8c0;
}

img{
    height: 50px;
}

.ferramenta-nome{
    color: #434343;
    border-radius: 5px;
    /* mix-blend-mode: difference; */
    font: 500 .8em Inter, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2vh;
}

.paginacao{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
}

.paginacao button{
    border: none;
    margin: 0 15px;
    width: 50px;
    height: 25px;
    background: #27AAE1;
    border-radius: 5px;
}