@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: #333333;
}

input {
    border: none;
    background-color: transparent;
    width: 100%;
}

button, a {
    cursor: pointer;
    background: transparent;
}

.display-none {
    display: none;
}

.div-global{
  margin: 5vh 10vw;
}

.botao{   
    text-decoration: none;
    margin: 0 auto;
    background: #27AAE1;
    height: fit-content;
    padding: 2px 15px;
    border-radius: 20px;
    border: none;
    color: white;
}

.animacao:not(:focus){
    transition: 0.3s;
}
.animacao:not(:focus):hover{
    border-color: #27AAE1;
    box-shadow:  6px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}